.search-box form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px black;
  padding: 10px;
  height: 40px;
  width: 200px;
}

.search_btn {
  font: inherit;
  border: none;
  background-color: white;
  margin: 0;
  color: rgb(130, 130, 130);
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  color: black;
}

.search-box input,
.search-box input:focus {
  font-size: 18px;
  display: flex;
  width: 90%;
  border: none;
  outline: none;
}
