.shop-section {
  display: flex;
}

.products-container {
  width: calc(100% - 15rem);
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
}

.left-menu {
  width: 15rem;
  padding: 10px;
}

.left-menu input {
  display: inline-block;
  width: 80px;
  text-align: center;
}
